.footer {
  margin-top: auto;
  color: $color-gray;

  h3 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $font-design;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $color-gray;
  }

  a {
    &:focus,
    &:hover {
      color: $color-design;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__nav--nojs {
  .footer__toggler--nav {
    @media ($mobile) {
      display: none;
    }
  }
}

.footer__contacts--nojs .footer__toggler--contacts {
  @media ($mobile) {
    display: none;
  }
}

.footer__nav--closed {
  .footer__nav-list {
    @media ($mobile) {
      display: none;
    }
  }
}

.footer__contacts--closed .footer__contacts-content {
  @media ($mobile) {
    display: none;
  }
}

.footer__content {
  display: flex;
  flex-wrap: wrap;
}

.footer__top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
  padding-bottom: 57px;

  @media ($tablet) {
    padding: 19px 0 38px 0;
  }

  @media ($mobile) {
    padding: 43px 0 0 0;
  }
}

.footer__info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 25%;

  @media ($tablet) {
    width: 100%;
    padding-bottom: 26px;
  }

  @media ($mobile) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 45px;
  }

  &::before {
    @media ($tablet) {
      @include bottom-line;
    }
  }

  img {
    height: 52px;
  }

  a {
    display: flex;
    flex-wrap: wrap;

    @media ($tablet) {
      margin-right: 91px;
    }

    @media ($mobile) {
      margin: 0;
    }

    &:focus,
    &:hover {
      opacity: 0.6;
    }
  }
}

.footer__slogan {
  padding: 7px 0 0 13px;

  h3 {
    margin: 0;
    padding: 0;
    font-family: $font-design;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0;
    text-transform: capitalize;
    color: #203c42;
  }

  p {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: lowercase;
    color: #788891;
  }
}

.footer__text-tablet {
  display: none;

  @media ($tablet) {
    display: block;
    padding-top: 18px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    opacity: 0.5;
  }

  @media ($mobile) {
    padding-top: 28px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 54px 0 0 0;
  padding: 0;
  list-style: none;

  @media ($tablet) {
    align-content: end;
    width: auto;
    margin: 0 0 0 auto;
  }

  @media ($mobile) {
    margin: 30px 0 0 0;
    padding-left: 13px;
  }

  svg {
    fill: #cdcdcd;
  }

  a {
    margin: 0 13px 10px 0;

    @media ($tablet) {
      margin: 0 0 10px 16px;
    }

    @media ($mobile) {
      margin: 0 16px 10px 0;
    }

    &:focus,
    &:hover {
      svg {
        fill: $color-design;
      }
    }

    &:active {
      svg {
        opacity: 0.6;
      }
    }
  }
}

.footer__nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 42%;
  padding-left: 68px;

  &::before {
    @media ($mobile) {
      @include bottom-line;
    }
  }

  @media ($tablet) {
    flex-direction: column;
    width: 35%;
    margin-right: 17%;
    padding: 41px 0 0 0;
  }

  @media ($mobile) {
    width: 100%;
    margin: 0;
    padding: 30px 0 5px 0;
  }

  h3 {
    padding-bottom: 22px;
  }
}

.footer__nav-list {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
  list-style: none;

  &--sections {
    margin-right: 73px;

    @media ($tablet) {
      margin: 0;
    }
  }
}

.footer__contacts {
  position: relative;
  width: 33%;
  box-sizing: border-box;
  padding-left: 132px;

  @media ($tablet) {
    width: 47%;
    padding: 39px 0 0 0;
  }

  @media ($mobile) {
    width: 100%;
    padding: 28px 0 0 0;
  }

  h3 {
    margin-bottom: 24px;
  }
}

.footer__contacts-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  margin-left: auto;
  font-size: 15px;
  line-height: 25px;

  @media ($tablet) {
    flex-direction: column;
    margin: 0;
  }

  @media ($mobile) {
    margin: 0 0 25px 0;
    padding: 10px 0 0 0;
  }

  p {
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.5;

    @media ($mobile) {
      width: 95%;
    }
  }

  a {
    width: 100%;
    opacity: 0.5;
  }
}

.footer__rights {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 14px 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  opacity: 0.5;

  &::before {
    @include top-line;
  }

  @media ($tablet) {
    padding: 20px 0;
  }

  @media ($mobile) {
    padding: 30px 0;
  }
}

.footer__toggler {
  display: none;

  @media ($mobile) {
    position: absolute;
    top: 25px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  &:focus,
  &:hover {
    opacity: 0.6;
  }
}

.footer__nav--closed .footer__toggler--nav::before,
.footer__contacts--closed .footer__toggler--contacts::before {
  @media ($mobile) {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    width: 16px;
    height: 2px;
    background-color: $color-for-nav-btn;
  }
}

.footer__nav--closed .footer__toggler--nav::after,
.footer__contacts--closed .footer__toggler--contacts::after {
  @media ($mobile) {
    content: "";
    position: absolute;
    top: 4px;
    left: 12px;
    width: 2px;
    height: 16px;
    background-color: $color-for-nav-btn;
  }
}

.footer__nav--opened .footer__toggler--nav::before,
.footer__contacts--opened .footer__toggler--contacts::before {
  @media ($mobile) {
    content: "";
    position: absolute;
    top: 11px;
    left: 5px;
    width: 16px;
    height: 2px;
    background-color: $color-for-nav-btn;
  }
}
