$font-base: "PT Mono", "Arial", sans-serif;
$font-design: "Roboto Condensed", "Arial", sans-serif;
$tablet: "max-width: 1023px";
$mobile: "max-width: 767px";
$color-white: #ffffff;
$color-default: #666666;
$color-gray: #1b2d37;
$color-design: #00b2ff;
$retina: "min-resolution: 1.5dppx";
